body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
    display: block;
}

.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
